*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: cyan;
    font-family: Arial,sans-serif;
    height: 200vh;
    
    
}

h2{
    font-size: 2rem;
    font-weight:300;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}

h3{
    font-size: 2rem;
    font-weight:300;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}

#P-logo{
    display: inline;
    width: 35px;
    opacity: 130%;
}

#main-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 24%;
    opacity: 100%;
    padding: 5px;
    border: 4px solid #ffffff;
    border-radius: 53%;
    border-style:double;
}

#main-logo:hover{
    transform: scale(1.1);
    transition-duration: 1s ;
    
}

.main-name{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
    font-style: italic;  
    font-size: 35px;
    font-weight: lighter;
    text-align: center;
    opacity: 500%;
}

.personal_info{
    border: 2px solid cyan;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 20px;
    height: 40vh;
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.041);
    margin-bottom: 50px ;
    

}

.personal_info_para{
    text-align: left;
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 1.2rem;
    line-height: 4vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
